{@HeaderComponent logo="{foo}" /}

<div class="layout">
  <p class="form__intro">{intro}</p>

  {?condition}
    <span>{text}</span>
  {/condition}

  <div class="text">
    <p>{bar.baz}</p>
  </div>

  {@FooterComponent/}
</div>
